
#bar{
 background-color: black;
	height: 50px;
	width: 100%;
	 font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}
#bar2{
	position: absolute;
	top: 50px;
 background-color: white;
	height: 50px;
	width: 100%;
	 font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}
#bar2 ul li{
	color: #aaaaaa;
}
#bar3{
	position: absolute;
	top: 100px;
    background-color: yellow;
	height: 40px;
	width: 100%;
	 font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}
#bar3 a{
	text-decoration: none;
	color: black;
}
h1{
	margin-top: 2300px;
}
a{
	color: white;
}
.imgit{
	display: inline-flex;
}
.imgit a{
	color: red;
	margin-left: 30px;
	padding: 20px;
}
.imgit ul li{
	display: inline-flex;
		margin-left: 10px;
	
}
.latestnews h5{
	position: absolute;
	top: 380px;
	font-size: 28px;

font-family: Avalon, sans-serif;
letter-spacing: -2px;
color: #f42;
text-decoration: none;
	
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	background-color: black;

}

.dropdown:hover .dropdown-content {
  display: block;
  border:1px solid white;

}
ul li{
	color: white;
	text-decoration: none;
	margin: 5px;

}
.leftbar ul li{
	display: block;
	float: left;
}
.rightbar ul li{
	display: inline-block;
	float: right;
}
.latest ul li{
	display: block;
	float: left;
	color: black;
}
.join ul li{
	display: inline-block;
	float: right;
	color: black;
}
.join button{
	background-color: #0cc;
	width: 130px;
	border-radius: 4px;
}

.joinit a{
	display: inline-block;
	color: black;
	float: left;
	margin-left: 45px;
}
.container{
	position: absolute;
	top: 140px;
	display: grid;
	grid-template-columns: 70% 30%;
	
}
.TNW{
	 background-image: url('images/article.jpeg');
    width: 850px;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;
    font-size: 28px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e42121), to(#332727));
     background-image: -o-linear-gradient(#e42121, #332727);
     background-image: linear-gradient(#e42121, #332727);
     opacity: .8;

	}
	.TNW i{
		margin-top: 70px;
		padding: 0px;
	}
	.TNW h4{
		position: absolute;
		top: 20px;
         margin-left: 670px;
         font-size: 13px;

	}
	.TNW p{
		font-family: Avalon, sans-serif;
font-size: 0.99em;
text-decoration: none;
color: #fff;
font-weight: bold;
letter-spacing: -.011em;
margin-bottom: 10px;
	}
	.firefox{
		display: grid;
		grid-template-rows: 50% 50%;
	}
	.fire1{
      background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/flagship.jpg') ;
    background-size: cover;
    color: white;
  

    
	}
	.fire1 p{
		margin-top: 140px;
	}
	.esoteric{
         background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/master.jpeg');
    background-size: cover;
      color: white;
	}
		.esoteric h3{
		margin-top: 115px;
	}
	.esoteric p{
		margin-top: -15px;
	}
	.esoteric i{
		margin-top: -10px;
	padding: 0px;
	}
	.main span{
		margin-left: 5px;
        color: #aaaaaa;
		margin-top: 8px;
		font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
		font-size: 14px;
		cursor: pointer;
	}
	.main{
		position: absolute;
		top:650px;
		display: inline-grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-gap: 0.1em;
		
	}
	.main a{
font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 17px;
color: black;
cursor: pointer;
font-weight: bolder;
	}
	.latestfunding{
		position: absolute;
		top: 1090px;
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-gap: 1em;
	}
	.Songtradr{
		position: relative;
		width: 300px;
	}
	.Songtradr h5{
		width: 70%;
		background-color: red;
		padding: 10px 1px 7px 84px;
		height: 40px;

	}
	.Songtradr img{
		margin-top: -40px;
		margin-left: 10px;
	}
	
	.Songtradr h6{
		width: 70%;
		height: 50px;
		
		margin-top: -70px;
		margin-left: 110px;
	}
	.Skrap{
		position: relative;
		width: 300px;
	}
	.Skrap h5{
		width: 70%;
		background-color: red;
		padding: 10px 1px 7px 84px;
		height: 40px;

	}
	.Skrap img{
		margin-top: -40px;
		margin-left: 10px;
	}
	
	.Skrap h6{
		margin-top: -70px;
		margin-left: 110px;
	}
	.Wrapbook{
		position: relative;
		width: 300px;
	}
	.Wrapbook h5{
		width: 70%;
		background-color: red;
		padding: 10px 1px 7px 84px;
		height: 40px;

	}
	.Wrapbook img{
		margin-top: -40px;
		margin-left: 10px;
	}
	
	.Wrapbook h6{
		margin-top: -70px;
		margin-left: 110px;
	}
	.DataProphet{
		position: relative;
		width: 300px;
	}
	.DataProphet h5{
		width: 70%;
		background-color: red;
		padding: 10px 1px 7px 84px;
		height: 40px;

	}
	.DataProphet img{
		margin-top: -40px;
		margin-left: 10px;
	}
	
	.DataProphet h6{
		margin-top: -70px;
		margin-left: 110px;
	}
	
.songtrad a{
	color: black;
	display: inline-flex;
	padding: 10px;
}
.songtrad{
	border-bottom: 1px solid red;
}
.titles{
	position: absolute;
	top: 400px;
	display: grid;
	grid-template-columns: 70% 70% 70%;
	grid-gap: 3em;
	margin-left:10px;
}
.forktitle{
	margin-left: -10px;
	font-size: 25px;
	margin-top: -15px;
}
.apptitle{
	margin-left: 84px;
	font-size: 25px;
	margin-top: -15px;
}
.geartitle{
	margin-left: 95px;
	font-size: 25px;
		margin-top: -15px;
}
}
.titles h5{
	color: red;
	font-size: 12px;
}

.main3{
		position: absolute;
		top: 450px;
		display: grid;
		grid-template-columns:  35% 35% 30%;
		grid-gap: 1em;
		font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
	}
	.below ul li{
		color:red;
	}
	.below{
		position: absolute;
		top: 1550px;
		display: grid;
		grid-template-columns: 35% 35% 30%;
	}

	.fork{
		background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/master.jpeg');
    background-size: cover;
    height: 300px;
	}
	.apps{
	background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/master.jpeg');
    background-size: cover;
    height: 300px;

	}
	.gear{
			background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/master.jpeg');
    background-size: cover;
    height: 300px;
	}
.main3 a{

color: red;
font-size: 15px;
 margin-top: -50px;

}
.main3links ul li{
	color: black;
}
.belowlatest{
	display: inline-flex;
	margin-left: 20px;
	padding: 30px 30px;

}
	.main3links{
		display: grid;
		grid-template-columns: 35% 35% 30%;
		grid-gap: 1em;
		position: absolute;
		top: 740px;
		color: black;
	}
	.main3links  h3{
		margin-left: 15px;
	}
	.main3links a {
		color: red;
	}
		.main4{
		position: absolute;
		top: 1750px;
		display: grid;
		grid-template-columns:  35% 35% 35%;
		grid-gap: 1em;
	}
		.main5{
	    position: absolute;
		top: 1250px;
		display: grid;
		grid-template-columns:  35% 35% 30%;
		grid-gap: 2em;
	}
		.main6{
	    position: absolute;
		top: 1950px;
		display: grid;
		grid-template-columns:  30% 30% 30%;
		grid-gap: 2em;
		margin-left: 20px;
	}
		
.latestmain{
	display: inline-flex;
	margin-left: 15px;
	padding: 30px 30px;
}
.latestmain img{
	padding: 4px;
}
	
	.latestdeals{
		position: absolute;
		top: 2750px;
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-gap: 0.1em;
		width: 100%;
	}
	.tech{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/trans.jpeg');
    background-size :auto;
      color: white;
      width: 400px;
	}
	.creative{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/hand.jpeg');
    background-size: cover;
      color: white;
       width: 400px;
	}
	.tech h3{
		margin-top: 170px;
	}
	.creative h3{
    margin-top:170px;
	}
	.creative p{
		font-size:20px;
	}
	.podium{
	 background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/pp.jpeg');
    background-size: cover;
      color: white;
       width: 400px;
	}
	.podium h3{
    margin-top:170px;
	}
	.podium p{
		font-size:20px;
	}
	.insight{
		 background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/pp.jpeg');
    background-size: cover;
      color: white;
      width: 380px;
      height: 300px;
	}
	.launch{
		 background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/pp.jpeg');
    background-size: cover;
      color: white;
      width: 380px;
      height: 300px;
	}
	.distract{
		 background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/pp.jpeg');
    background-size: cover;
      color: white;
      width: 390px;
      height: 300px;
	}
	.mainlatest{
		position: absolute;
		top: 2250px;
		display: grid;
		grid-template-columns: 35% 35% 30%;
	}
	.mainlatest ul li{
		color: red;
	}
	.mainlatest a{
		color: red;
	}
footer{
	width: 100%;
	height: 250px;
	position: absolute;
   top: 3450px;
	background-color:  	#131313;;

	}
	
i{
color: white;
margin-top: 150px;
padding: 10px;

	}
	
footer ul li{
 list-style: none;
 font-size: 15px;
 display: inline-flex;
 padding: 0px;
 margin-left: 70px;
}
#navbottom{
	position: absolute;
   top: 3699px;
	background-color: black;
	height: 150px;
	width: 100%;

}
#navbottom p{
	color: white;
	margin-left: 180px;
	margin-top: 60px;


}